<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{upload.file.title}"></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script src="/webjars/jquery/3.2.1/jquery.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/uploadFile.js"></script>
</head>
<body>
<div class="container">

    <div id="uploadFileMessage">
        <div th:if="${message}">
            <h2 th:text="${message}"/>
        </div>
    </div>

    <form th:action="@{/upload}" enctype="multipart/form-data" method="POST">
        <label th:text="#{upload.file.name}"></label><label id="fileNameLbl" th:text="${fileName}"></label>

        <input id="uploadFileBtn" type="file" name="file" class="form-control"/>

        <input id="fileUploadSubmit" type="submit" th:value="#{upload.file.load}" class="btn btn-large btn-success"/>
        <a href="/" th:text="#{upload.file.cancel}" class="btn btn-large btn-success"></a>
    </form>
    <div id="uploadFileError"></div>
</div>
</body>
</html>